
@{
    ViewBag.Title = "ProfileAdded";
    @model IEnumerable<Blog.Models.Profile>
}

<h2>Дякуємо. Вашу відповідь збережено</h2>

@if (ViewBag.prof != null)
{
    @CreateCheckBoxUL((Blog.Models.Profile)ViewData["prof"])
}

@helper CreateCheckBoxUL(Blog.Models.Profile prof)
{
<ul class="list-group">
    @*@foreach (var propName in prof.GetType().GetProperties())
        {
            <li class="list-gro up-item">@propName.GetValue(prof, null)</li>
        }*@



    @{
        List<string> parameterListForForm = (List<string>)ViewData["parameterListForForm"];
        System.Reflection.PropertyInfo[] propList = prof.GetType().GetProperties();
        for (int i = 0; i < propList.Length; i++)
        {
            <li class="list-gro up-item"><b>@parameterListForForm[i]:</b> @propList[i].GetValue(prof, null)</li>
        }
    }
</ul>
}