@*Передавання списку статей*@
@{
    @model IEnumerable<DBLib.Models.Article>
}

<h2>@ViewBag.Title</h2>

<div class="row">

    @*Виведення всіх статей*@
    @{
        if (Model.Any())
        {
            foreach (var article in Model)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading text-uppercase">@article.Name</div>
                    <div class="panel-body">@article.Text</div>
                    <div class="panel-footer">@article.Date.ToString("yyyy/MM/dd")</div>
                </div>
            }
        }
        else
        {
            <div class="bg-warning text-info alertMessage">Наразі контент відсутній</div>
        }
    }
</div>